.title {
  text-style: bold;
  color: $accent;
  margin: 1;
}

.field {
  height: 3;
  margin: 0 1;
}

.buttons {
  margin: 1;
}

.create-form {
  width: 80;
  margin: 1;
  border: solid $primary;
  padding: 1;
}

.management-screen {
  margin: 1;
  padding: 1;
}

.detail-view {
  width: 80;
  margin: 1;
  border: solid $primary;
  padding: 1;
}

#items-list {
  padding: 1;
}

ListView {
  height: 15;
  border: solid $primary;
  margin: 1 0;
}

Button {
  width: 25;
  
  # margin: 0 1;
}
